[slurm_controller]
submit.dundore.net ansible_ssh_user=vagrant ansible_ssh_host=192.168.201.100

[compute_node]
compute1.dundore.net ansible_ssh_user=vagrant ansible_ssh_host=192.168.201.101
compute2.dundore.net ansible_ssh_user=vagrant ansible_ssh_host=192.168.201.102

[slurmdb]
slurmdb.dundore.net ansible_ssh_user=vagrant ansible_ssh_host=192.168.201.99

[slurm_controller:vars]
slurm_controller_hostname = submit.dundore.net
slurm_controller_address = 192.168.201.100

[all:vars]
ansible_python_interpreter=/usr/bin/python3