[slurm_controller]
submit.dundore.net ansible_ssh_user=vagrant

[compute_node]
compute1.dundore.net ansible_ssh_user=vagrant
compute2.dundore.net ansible_ssh_user=vagrant

[all:vars]
ansible_python_interpreter=/usr/bin/python3

